<script type="text/javascript">
function setEqual(){
/* Sets the values of the last row equal to the hidden form */
var type = document.getElementById("actionTypeInput").value;
var value = document.getElementById("actionValueInput").value;
var command = document.getElementById("actionCommandInput").value;
var equality = document.getElementById("actionEqualityInput").value;
var ddevice = document.getElementById("actionDestinationDeviceInput").value;
var sdevice = document.getElementById("actionSourceDeviceInput").value;

document.addActionForm.actionValue.value = value;
document.addActionForm.actionType.value = type;
document.addActionForm.actionCommand.value = command;
document.addActionForm.actionEquality.value = equality;
document.addActionForm.actionDestinationDevice.value = ddevice;
document.addActionForm.actionSourceDevice.value = sdevice;
document.addActionForm.submit();
}

</script>
<!-- Succes or fail messages -->
@in[m message]{
<p id="message">@|m|</p>
}
<!-- steward table template -->
<table id="steward-table">
<tr>
<th>ID</th>
<th style="width:10px">Type</th>
<th style="width:10px">Value</th>
<th style="width:10px">Command</th>
<th>Destination Device-id</th>
<th>Source Device-id</th>
<th>Equality</th>
<th></th>
</tr>
@in[a actions]{
<tr>
<td> @(get-field action-id~ a) </td>
<td> @(get-field type~ a) </td>
<td> @(get-field value~ a) </td>
<td> @(get-field command~ a) </td>
<td> @(get-field destination-device-id~ a) </td>
<td> @(get-field source-device-id~ a) </td>
<td> @(send a get-equality-string) </td>
<td><a href="?page=deleteAction&id=@(get-field action-id~ a)"><image src="/images/delete.png" /></a></td>
</tr>
}



<tr>
<!-- 
While it is more esthetic to use the last row as a form to add new actions, it 
comes with some more difficulties. Because we can't use a form as the last row
we make a small hidden form and on submit make all the values of the hidden inputs
equal to those in the visible ones -->
<td>Add</td>
<td><input size="4" type="text" id="actionTypeInput"/></td>
<td><input size="4" type="text" id="actionValueInput"/></td>
<td><input size="10" type="text" id="actionCommandInput"/></td>
<td> 
<select id="actionDestinationDeviceInput">
@in[d device-ids]{
<option name="@|d|">@|d|</option>
}
</select></td>
<td> 
<select id="actionSourceDeviceInput">
@in[d device-ids]{
<option name="@|d|">@|d|</option>
}
</select></td>
<td> 
<!-- the input of this table div will be changed when the user selects add new
 equalities -->
<select id="actionEqualityInput">
@in[e equalities]{
<option name="@|e|">@|e|</option>
}
</select></td>
<td>
<!-- so this is a pure hidden form only the submit is visible -->
<form name="addActionForm" method="POST">
<input type="hidden" name="page" value="handleAddAction">
<input type="hidden" name="actionType"/>
<input type="hidden" name="actionValue" />
<input type="hidden" name="actionCommand" />
<input type="hidden" name="actionDestinationDevice" />
<input type="hidden" name="actionSourceDevice" />
<input type="hidden" name="actionEquality" /></form>
<button onclick="setEqual()"><image src="/images/add.gif" /></button>
</td> 
</tr>
</table>
