<!-- devices template -->
<p id="description">Devices in the system</p>
<table>
<tr>
<th>ID</th>
<th>Type</th>
<th>Room</th>
<th>Communication Address</th>
<th>Status</th>
</tr>
@in[s stewards]{
@in[d (send s get-devices)]{
<tr>
<td>@(get-field id~ d)</td>
<td>@(get-field type~ d)</td>
<td>@(get-field place~ d)</td>
<td>@(send d get-com-adr-as-string)</td>
<td id=" @(get-field id~ d) " class="ToEdit">@(if (send s online?) (send s get-device-status (get-field id~ d)) "OFFLINE")</td>
</tr>
}
}

</table>


<script type="text/javascript">

for(var i in $(".ToEdit")){
      var deviceId = i.getAttribute('id');
      $.get("?page=getDeviceStatus&id=" + deviceId, function(data, status){
                              i.innerHTML = data};)
}

</script>
